In [13]:
from ipywidgets import interact, interactive, fixed
import ipywidgets as widgets
from IPython.display import display
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
tips = sns.load_dataset("tips")

In [4]:
tips.head(7)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2

In [38]:
button = widgets.Button(description="Sum Everything", button_style = "info")
output = widgets.Output()

display(button, output)

def on_button_clicked(b):
    with output:
        print(tips.sum(axis=0))

button.on_click(on_button_clicked)

Button(button_style='info', description='Sum Everything', style=ButtonStyle())

Output()